body {
  padding-top: 0px;
  padding-bottom: 30px;

}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


.text-area {
  word-wrap: break-word;
  
}

.jumbotron {
    margin-top:-20px; padding-top:10px;
    background-color:#6f5400;
}
